{% extends 'main.html' %}
{% block content %}
{% load static %}
<main class="profile my-md">
    <div class="container">
      <div class="layout">
        <div class="column column--1of3">
          <div class="card text-center">
            <div class="card__body dev">
              <img class="avatar avatar--xl" src="{% static 'images/profile/liza.JPG' %}" />
              <h2 class="dev__name">Liza Akter</h2>
              <p class="dev__title">Expirance FullStack Developer</p>
              <p class="dev__location">Based in London, UK</p>
              <ul class="dev__social">
                <li>
                  <a title="Github" href="https://github.com/Poushe" target="_blank"><i class="fa-brands fa-github"></i></a>
                </li>
                <li>
                  <a title="LinkedIn" href="https://www.linkedin.com/in/poushe/" target="_blank"><i class="fa-brands fa-linkedin-in"></i></a>
                </li>
                <li>
                  <a title="Twitter" href="#" target="_blank"><i class="fa-brands fa-twitter"></i></a>
                </li>
                <li>
                  <a title="Stackoverflow" href="#" target="_blank"><i class="im im-stackoverflow"></i></a>
                </li>
                <li>
                  <a title="Personal Website" href="#" target="_blank"><i class="im im-globe"></i></a>
                </li>
              </ul>
              <!--<a href="#" class="btn btn--sub btn--lg">Send Message </a>-->
            </div>
          </div>
        </div>
        <div class="column column--2of3">
          <div class="devInfo">
            <h3 class="devInfo__title">About Me</h3>
            <p class="devInfo__about">
              Hi, I'm Liza! I'm a web developer with in-depth experience in front-end and back-end development. A portfolio-based Web Developer with 3+ years of experience in software engineering and web development. I have been providing creative, user-friendly, and efficient web applications to my clients and some of the companies where I worked as a developer. I have good experience in teamwork. I love to learn new technology.
            </p>
          </div>
          <div class="devInfo">
            <h3 class="devInfo__title">Education</h3>
            <div class="devInfo__skills">
              <div class="devSkill">
                <h4 class="devSkill__title">January 2022-July 2023</h4>
                <h4 class="devSkill__title">Result: Commendation</h4>
                <p class="devSkill__info">
                  MSc in Computer Science
                  <br>
                  University of Hertfordshire
                </p>
              </div>
              <div class="devSkill">
                <h4 class="devSkill__title">2012-2016</h4>
                <p class="devSkill__info">
                  BSc in Computer Science & Engineering
                  <br>
                  State University of Bangladesh
                </p>
              </div>
              <div class="devSkill">
                <h4 class="devSkill__title">2011</h4>
                <p class="devSkill__info">
                  Higher School Certificate
                  <br>
                  Kalikapur Abdul Matin Govt. College
                </p>
              </div>

              <h3 class="devInfo__subtitle">Skills</h3>
              <div class="devInfo__otherSkills">
                <span class="tag tag--pill tag--sub tag--lg">
                  <small>HTML</small>
                </span>
                <span class="tag tag--pill tag--sub tag--lg">
                  <small>CSS</small>
                </span>
                <span class="tag tag--pill tag--sub tag--lg">
                  <small>REACT</small>
                </span>
                <span class="tag tag--pill tag--sub tag--lg">
                  <small>PYTHON</small>
                </span>
                <span class="tag tag--pill tag--sub tag--lg">
                  <small>Django</small>
                </span>
                <span class="tag tag--pill tag--sub tag--lg">
                  <small>AWS</small>
                </span>
                <span class="tag tag--pill tag--sub tag--lg">
                  <small>Mysql</small>
                </span>
                <span class="tag tag--pill tag--sub tag--lg">
                  <small>Oracle</small>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
      <!-- Search Result: DevList -->
      <section class="projectsList">
        <div class="container">
          <div class="grid grid--three">
          {% for project in projects %}
            <div class="column">
              <div class="card project">
                <a href="{% url 'project' project.id %}" class="project">
                  <img class="project__thumbnail" src="{{project.feature_image.url}}" alt="project thumbnail" />
                  <div class="card__body">
                    <h3 class="project__title">{{project.title}}</h3>
                    <p><a class="project__author" href="#">By {{project.owner}}</a></p>
                    <p class="project--rating">
                      <span style="font-weight: bold;">{{project.vote_ratio}}</span> Postitive
                      Feedback ({{project.total_vote}} vote{{project.total_vote|pluralize:"s"}})
                    </p>
                    <div class="project__tags">
                      {% for j in project.tags.all %}
                      <span class="tag tag--pill tag--main">
                      <small>{{j}}</small>
                      </span>
                      {% endfor %}
                    </div>
                  </div>
                </a>
              </div>
            </div>
            {%endfor%}
          </div>
        </div>
      </section>
  </main>
{% endblock content %}
